<div class="alert alert-info %%NOTEDISABLE%%" role="alert">
	%%NOTEMSG%%
</div>

<h3>Change Password</h3>
<form action="%%SERVERURL%%/?task=account" method="post">
	<input type="hidden" value="change" name="type">
	<div class="form-group row">
		<label for="passwordC" class="col-sm-2 col-form-label">Password</label>
		<div class="col-sm-10">
			<input type="password" placeholder="Password" name="password" id="passwordC" class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10">
			<input type="submit" value="Change" class="btn btn-secondary">
		</div>
	</div>
</form>

<h3>Share Stats</h3>
	<h4>Your shares</h4>
	<table class="accounttable table table-striped table-responsive-sm">
		<tr>
			<thead class="thead-dark">
				<th>Shared Category</th>
				<th>Shared with</th>
				<th>Remove</th>
			</thead>
		</tr>
		<!--MULTIPLE-Shares-BEGIN-->
			<tr>
				<td>%%CATEGORY%%</td>
				<td>%%GROUP%%</td>
				<td><a href="%%SERVERURL%%/?task=account&remove=%%CATEGORY%%&group=%%GROUP%%" class="confirm confirmLink" title="Remove Share" content="Delete the share of category '%%CATEGORY%%' with user '%%GROUP%%'?"><button type="button" class="btn btn-danger">Remove</button></a></td>
			</tr>
		<!--MULTIPLE-Shares-END-->
	</table>

	<h4>Add share</h4>
	<form action="%%SERVERURL%%/?task=account" method="post">
		<input type="hidden" value="share" name="type">
		<div class="form-group row">
			<label for="category" class="col-sm-2 col-form-label">Category to share</label>
			<div class="col-sm-10">
				<select name="category" id="category" class="custom-select">
					<!--MULTIPLE-Category-BEGIN-->
						<option value="%%VALUE%%">%%NAME%%</option>
					<!--MULTIPLE-Category-END-->
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="group" class="col-sm-2 col-form-label">User to share with</label>
			<div class="col-sm-10">
				<select name="group" id="group" class="custom-select">
					<!--MULTIPLE-Group-BEGIN-->
						<option value="%%VALUE%%">%%NAME%%</option>
					<!--MULTIPLE-Group-END-->
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">&nbsp;</div>
			<div class="col-sm-10">
				<input type="submit" value="Start sharing" class="btn btn-secondary">
			</div>
		</div>
	</form>

<h3>Administration</h3>
<div class="%%NOTADMIN%%">
	This account is not an administration account.
</div>
<div class="%%ISADMIN%%">
	<h4>Other accounts</h4>
		<table class="accounttable table table-striped table-responsive-sm">
			<tr>
				<thead class="thead-dark">
					<th>Account</th>
					<th>Admin</th>
					<th>Change password</th>
					<th>Delete</th>
				</thead>
			</tr>
			<!--MULTIPLE-Accounts-BEGIN-->
				<tr>
					<td><code>%%ANAME%%</code></td>
					<td>%%AADMIN%%</td>
					<td>
						<form action="%%SERVERURL%%/?task=account" method="post" class="form-inline">
							<input type="hidden" value="edit" name="type">
							<input type="hidden" value="%%AID%%" name="group">
							<div class="input-group">
								<input type="password" placeholder="New password" name="password" class="form-control"> &nbsp;
							</div>
							<input type="submit" class="btn btn-secondary" value="Change password">
						</form>
					</td>
					<td><a href="%%SERVERURL%%/?task=account&delete=%%AID%%" class="confirm confirmLink" title="Delete Account" content="Delete account with name '%%ANAME%%'?"><button type="button" class="btn btn-danger">Delete</button></a></td>
				</tr>
			<!--MULTIPLE-Accounts-END-->
		</table>
		
	<h4>Add new account</h4>
	<form action="%%SERVERURL%%/?task=account" method="post">
		<input type="hidden" value="new" name="type">
		<div class="form-group row">
			<label for="groupN" class="col-sm-2 col-form-label">Name/ Account</label>
			<div class="col-sm-10">
				<input type="text" placeholder="Group" name="group" id="groupN" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<label for="passwordN" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input type="password" placeholder="Password" name="password" id="passwordN" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<label for="passwordN" class="col-sm-2 col-form-label">Is Admin?</label>
			<div class="col-sm-10">
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="adminNY" name="admin" value="yes" class="custom-control-input">
					<label class="custom-control-label" for="adminNY">Yes</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="adminNN" name="admin" value="no" checked="checked" class="custom-control-input">
					<label class="custom-control-label" for="adminNN">No</label>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">&nbsp;</div>
			<div class="col-sm-10">
				<input type="submit" value="Create" class="btn btn-secondary">
			</div>
		</div>
	</form>
</div>

