<div class="alert alert-info %%NOTEDISABLE%%" role="alert">
	%%NOTEMSG%%
</div>

<h3>Active devices</h3>
	<table class="accounttable table table-striped table-responsive-sm">
		<tr>
			<thead class="thead-dark">
				<th>Device</th>
				<th>Last used</th>
				<th>Regenerate token</th>
				<th>Delete</th>
			</thead>
		</tr>
		<!--MULTIPLE-Devices-BEGIN-->
			<tr>
				<td><code>%%NAME%%</code></td>
				<td><code>%%LASTUSED%%</code></td>
				<td><a href="%%SERVERURL%%/?task=devices&regenerate=%%DID%%" class="confirm confirmLink" title="Regenerate Token" content="Regenerate token for device '%%NAME%%'?"><button type="button" class="btn btn-warning">Regenerate</button></a></td>
				<td><a href="%%SERVERURL%%/?task=devices&delete=%%DID%%" class="confirm confirmLink" title="Delete Device" content="Delete device with name '%%NAME%%'?"><button type="button" class="btn btn-danger">Delete</button></a></td>
			</tr>
		<!--MULTIPLE-Devices-END-->
	</table>
	<p>
		Deleting a device does not delete the data of this device. Only the access to the api will be blocked.
	</p>
		
<h3>Add new device</h3>
<form action="%%SERVERURL%%/?task=devices" method="post">
	<div class="form-group row">
		<label for="deviceN" class="col-sm-2 col-form-label">Devicename</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Name" name="device" id="deviceN" class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10">
			<input type="submit" value="Create" class="btn btn-secondary">
		</div>
	</div>
</form>

<h3>Available data in storage</h3>
<p>
	This list shows all devices (technically their data) available in the storage and accessible via API.
</p>
<ul class="list-group">
	<!--MULTIPLE-Data-BEGIN-->
		<li class="list-group-item"><code>%%NAME%%</code></li>
	<!--MULTIPLE-Data-END-->
</ul>

<h3>Web session</h3>
	<p>
		When a user ticks the box "Stay logged in" the a session will be created and shown here.
	</p>
	<table class="accounttable table table-striped table-responsive-sm">
		<tr>
			<thead class="thead-dark">
				<th>Device</th>
				<th>Last used</th>
				<th>Remove</th>
			</thead>
		</tr>
		<!--MULTIPLE-Sessions-BEGIN-->
			<tr>
				<td><code>%%BROWSEROS%%</code></td>
				<td><code>%%LASTUSED%%</code></td>
				<td><a href="%%SERVERURL%%/?task=devices&remove=%%SID%%" class="confirm confirmLink" title="Delete Device" content="Delete session on '%%BROWSEROS%%'?"><button type="button" class="btn btn-danger">Remove</button></a></td>
			</tr>
		<!--MULTIPLE-Sessions-END-->
	</table>

<h3>Calendar Token</h3>
	<p>
		The systems provides a calendar API at <code>%%SERVERURL%%/api/ics.php</code> which allows to export the 
		collected tasks as <code>*.ics</code> or subscribe to them.
	</p>
	<div class="container">
		<div class="row form-group">
			<div class="col-sm-2">
				<button type="button" id="copytoken" class="btn btn-light form-control">Copy</button></a>
			</div>
			<div class="col-sm-7">
				<input type="password" id="caltoken" value="%%CALTOKEN%%" class="form-control" readonly="readonly">
			</div>
			<div class="col-sm-3">
				<a href="%%SERVERURL%%/?task=devices&newtoken=%%NEWTOKENCODE%%" class="confirm confirmLink" title="Regenerate Calendar Token" content="Regenerate the token used for the calendar API? This will invalidate the old token!"><button type="button" class="btn btn-warning form-control">Regenerate</button></a>
			</div>
		</div>
	</div>	
	<div class="alert alert-info" role="alert">
		The actual link for a subscription or export can be found at the Statistics 
		page. The generated export will always contain the data selected there. 
	</div>

<script>
clipboardButton("button#copytoken", $("input#caltoken").val());
tokenInputInVisible("input#caltoken");
</script>