<div class="alert alert-info %%NOTEDISABLE%%" role="alert">
	%%NOTEMSG%%
</div>

<h3>Active devices</h3>
	<table class="accounttable table table-striped table-responsive-sm">
		<tr>
			<thead class="thead-dark">
				<th>Device</th>
				<th>Regenerate token</th>
				<th>Delete</th>
			</thead>
		</tr>
		<!--MULTIPLE-Devices-BEGIN-->
			<tr>
				<td><code>%%NAME%%</code></td>
				<td><a href="%%SERVERURL%%/?task=devices&regenerate=%%DID%%" class="confirm confirmLink" title="Regenerate Token" content="Regenerate token for device '%%NAME%%'?"><button type="button" class="btn btn-warning">Regenerate</button></a></td>
				<td><a href="%%SERVERURL%%/?task=devices&delete=%%DID%%" class="confirm confirmLink" title="Delete Device" content="Delete device with name '%%NAME%%'?"><button type="button" class="btn btn-danger">Delete</button></a></td>
			</tr>
		<!--MULTIPLE-Devices-END-->
	</table>
	<p>
		Deleting a device does not delete the data of this device. Only the access to the api will be blocked.
	</p>
		
<h3>Add new device</h3>
<form action="%%SERVERURL%%/?task=devices" method="post">
	<div class="form-group row">
		<label for="deviceN" class="col-sm-2 col-form-label">Devicename</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Name" name="device" id="deviceN" class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10">
			<input type="submit" value="Create" class="btn btn-secondary">
		</div>
	</div>
</form>

<h3>Available data in storage</h3>
<p>
	This list shows all devices (technically their data) available in the storage and accessible via API.
</p>
<ul class="list-group">
	<!--MULTIPLE-Data-BEGIN-->
		<li class="list-group-item"><code>%%NAME%%</code></li>
	<!--MULTIPLE-Data-END-->
</ul>