<div class="alert alert-info %%NOTEDISABLE%%" role="alert">
	%%NOTEMSG%%
</div>

<h3>Add task</h3>
<p>Add a task to the virtual device <code>Server</code>.</p>
<form action="%%SERVERURL%%/?task=record" method="post">
	<div class="form-group row">
		<label for="category" class="col-sm-2 col-form-label">Category</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Category" name="category" id="category" class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<label for="task" class="col-sm-2 col-form-label">Task</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Task" name="task" id="task" class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">
			Begin
		</label>
		<div class="input-group col-sm-10">
			<input type="number" placeholder="YYYY" name="begin_Y" size=4 max=3000 min=1970 value="%%YEAR%%" class="form-control">
			<input type="number" placeholder="mm" name="begin_m" size=2 max=12 min=1 value="%%MON%%" class="form-control">
			<input type="number" placeholder="dd" name="begin_d" size=2 max=31 min=1 value="%%DAY%%" class="form-control">
			<button type="button" class="btn btn-light" id="beginDialog">&#x1F4C5;</button>
			&nbsp;&nbsp; &nbsp;&nbsp;
			<input type="number" placeholder="hh" name="begin_H" size=2 max=23 min=0 value="%%HOUR%%" class="form-control">
			<input type="number" placeholder="mm" name="begin_i" size=2 max=59 min=0 value="%%MIN%%" class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">
			End
		</label>
		<div class="input-group col-sm-10">
			<input type="number" placeholder="YYYY" name="end_Y" size=4 max=3000 min=1970 value="%%YEAR%%" class="form-control">
			<input type="number" placeholder="mm" name="end_m" size=2 max=12 min=1 value="%%MON%%" class="form-control">
			<input type="number" placeholder="dd" name="end_d" size=2 max=31 min=1 value="%%DAY%%" class="form-control">
			<button type="button" class="btn btn-light" id="endDialog">&#x1F4C5;</button>
			&nbsp;&nbsp; &nbsp;&nbsp;
			<input type="number" placeholder="hh" name="end_H" size=2 max=23 min=0 class="form-control">
			<input type="number" placeholder="mm" name="end_i" size=2 max=59 min=0 class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10">
			<input type="submit" value="Add task" class="btn btn-secondary">
		</div>
	</div>
</form>
<input type="hidden" id="datepickerBegin">
<input type="hidden" id="datepickerEnd">

<script>
if(sessionStorage.hasOwnProperty( 'lastServerTask' )){
	var values = JSON.parse( sessionStorage.getItem( 'lastServerTask' ) );
	$.each(values, (k,v) => {
		$('input[name="'+ k +'"]').val(v);
	});
}
$( "input#category" ).autocomplete({
	source: "%%SERVERURL%%/ajax.php?type=category",
	minLength: 1,
	delay: 50
});
$( "input#task" ).autocomplete({
	source: "%%SERVERURL%%/ajax.php?type=task",
	minLength: 1,
	delay: 50
});
$("form").on("submit", () => {
	var values = {};
	$("input").each((k,v) => {
		values[$(v).attr("name")] = $(v).val();
	});
	sessionStorage.setItem( 'lastServerTask', JSON.stringify(values));
});
function dateDialog(element, elements){
	var pos = $(elements[0]).offset();
	$( element ).datepicker(
		"dialog",
		$(elements[0]).val() + "-" + $(elements[1]).val() + "-" + $(elements[2]).val(),
		function(v,o) {
			$(elements[0]).val(o.selectedYear);
			$(elements[1]).val(o.selectedMonth+1);
			$(elements[2]).val(o.selectedDay);
		},
		{
			dateFormat : "yy-mm-dd",
			firstDay: 1
		},
		[pos.left, pos.top]
	);
}
$("#beginDialog").click( (e) => {
	e.preventDefault();
	dateDialog("input#datepickerBegin",  ["input[name=begin_Y]", "input[name=begin_m]", "input[name=begin_d]"]);
});
$("#endDialog").click( (e) => {
	e.preventDefault();
	dateDialog("input#datepickerEnd",  ["input[name=end_Y]", "input[name=endn_m]", "input[name=end_d]"]);
});
</script>

<h3>Delete task</h3>
<p>Delete tasks of the virtual device <code>Server</code>.</p>

<div class="%%DAYDISABLED%%">
	<h4>Tasks <code>%%SELCTEDDAY%%</code></h4>
	<table class="accounttable table table-striped table-responsive-sm">
		<tr>
			<thead class="thead-dark">
				<th>Category</th>
				<th>Task</th>
				<th>Begin</th>
				<th>End</th>
				<th></th>
			</thead>
		</tr>
		<!--MULTIPLE-Day-BEGIN-->
			<tr>
				<td>%%CAT%%</td>
				<td>%%NAME%%</td>
				<td>%%BEGIN%%</td>
				<td>%%END%%</td>
				<td><a href="%%SERVERURL%%/?task=record&day=%%SELCTEDDAY%%&delete=%%ID%%"  class="confirm confirmLink" title="Delete Task" content="Delete the task '%%NAME%%' starting at '%%BEGIN%%'?"><button type="button" class="btn btn-danger">Delete</button></a></td>
			</tr>
		<!--MULTIPLE-Day-END-->
	</table>
</div>

<h4>Days</h4>
<ul class="list-group">
	<!--MULTIPLE-Days-BEGIN-->
		<li class="list-group-item"><a href="%%SERVERURL%%/?task=record&day=%%DAY%%"><code>%%DAY%%</code></a></li>
	<!--MULTIPLE-Days-END-->
</ul>