<div class="note %%NOTEDISABLE%%" >
%%NOTEMSG%%
</div>

<h3>Add task</h3>
<p>Add a task to the virtual device <code>server</code>.</p>
<form action="%%SERVERURL%%/?task=record" method="post">
	<table>
		<tr>
			<td>Category</td>
			<td><input type="text" placeholder="Category" name="category"></td>
		</tr>
		<tr>
			<td>Task</td>
			<td><input type="text" placeholder="Task" name="task"></td>
		</tr>
		<tr>
			<td>Begin</td>
			<td>
				<input type="number" placeholder="YYYY" name="begin_Y" size=4 max=3000 min=1970 value="%%YEAR%%">
				<input type="number" placeholder="mm" name="begin_m" size=2 max=12 min=1 value="%%MON%%">
				<input type="number" placeholder="dd" name="begin_d" size=2 max=31 min=1 value="%%DAY%%">
				&nbsp;&nbsp; &nbsp;&nbsp;
				<input type="number" placeholder="hh" name="begin_H" size=2 max=23 min=0 value="%%HOUR%%">
				<input type="number" placeholder="mm" name="begin_i" size=2 max=59 min=0 value="%%MIN%%">
			</td>
		</tr>
		<tr>
			<td>End</td>
			<td>
				<input type="number" placeholder="YYYY" name="end_Y" size=4 max=3000 min=1970 value="%%YEAR%%">
				<input type="number" placeholder="mm" name="end_m" size=2 max=12 min=1 value="%%MON%%">
				<input type="number" placeholder="dd" name="end_d" size=2 max=31 min=1 value="%%DAY%%">
				&nbsp;&nbsp; &nbsp;&nbsp;
				<input type="number" placeholder="hh" name="end_H" size=2 max=23 min=0>
				<input type="number" placeholder="mm" name="end_i" size=2 max=59 min=0>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Add task"></td>
		</tr>
	</table>	
</form>

<h3>Delete task</h3>
<p>Delete tasks of the virtual device <code>server</code>.</p>

<div class="%%DAYDISABLED%%">
	<h4>Tasks <code>%%SELCTEDDAY%%</code></h4>
	<table class="accounttable">
		<tr>
			<th>Category</th>
			<th>Task</th>
			<th>Begin</th>
			<th>End</th>
			<th></th>
		</tr>
		<!--MULTIPLE-Day-BEGIN-->
			<tr>
				<td>%%CAT%%</td>
				<td>%%NAME%%</td>
				<td>%%BEGIN%%</td>
				<td>%%END%%</td>
				<td><a href="%%SERVERURL%%/?task=record&day=%%SELCTEDDAY%%&delete=%%ID%%" onclick="return confirm('Delete %%NAME%% starting %%BEGIN%%?');">Delete</a></td>
			</tr>
		<!--MULTIPLE-Day-END-->
	</table>
</div>

<h4>Days</h4>
<ul>
	<!--MULTIPLE-Days-BEGIN-->
		<li><a href="%%SERVERURL%%/?task=record&day=%%DAY%%"><code>%%DAY%%</code></a></li>
	<!--MULTIPLE-Days-END-->
</ul>