<form action="%%SERVERURL%%" method="post">
	<div class="form-group row">
		<label for="group" class="col-sm-2 col-form-label">Username</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Username" name="group" id="group" class="form-control">
			<small id="group" class="form-text text-muted">aka. Account or Group</small>
		</div>
	</div>
	<div class="form-group row">
		<label for="password" class="col-sm-2 col-form-label">Password</label>
		<div class="col-sm-10">
			<input type="password" placeholder="Password" name="password" id="password" class="form-control">
			<small id="group" class="form-text text-muted">The system admin may reset your password!</small>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10">
			<input type="submit" value="Login" class="btn btn-secondary">
		</div>
	</div>
</form>


