<div class="alert alert-info %%NOTEDISABLE%%" role="alert">
	%%NOTEMSG%%
</div>

<h3>Select data</h3>
<form action="%%SERVERURL%%/?task=stats" method="post">
	<p>
		Timespan:<br>
		<select name="time">
			<option value="today" selected>Today</option>
			<option value="day">Day</option>
			<option value="week">Week</option>
			<option value="month">Month</option>
			<option value="range">Range</option>
			<option value="all">All</option>
		</select>
		<span id="rangeblock" class="disable">
			from <input type="text" name="range-from" id="rf" placeholder="2020-03-04" pattern="\d{4}-\d{2}-\d{2}" style="width:100px;">
			to <input type="text" name="range-to" id="rt" placeholder="2020-03-04" value="%%TODAY%%"  pattern="\d{4}-\d{2}-\d{2}" style="width:100px;">
		</span>
	</p>
	<p>
		Filter categories:<br>
		<input type="text" name="cats" placeholder="Hobby,Home">
	</p>
	<p>
		Filter tasks:<br>
		<input type="text" name="names" placeholder="Coding,Gaming">
	</p>
	<p>
		Filter Devices:<br>
		<select name="devices[]" multiple>
			<!--MULTIPLE-Devices-BEGIN-->
			<option value="%%VALUE%%" selected>%%NAME%%</option>
			<!--MULTIPLE-Devices-END-->
		</select>
	</p>
	<p><input type="submit" value="Show"></p>
</form>

<script>
$("select[name=time]").change(() => {
	if($("select[name=time]").val() == "range" ){
		$("span#rangeblock").removeClass("disable");
	}
	else {
		$("span#rangeblock").addClass("disable");
	}
});
</script>
<h3>Tables</h3>
<p><code>%%CMD%%</code></p>

<div style="margin-bottom: 10px;">
	%%TABLEA%%
</div>
<div>
	%%TABLEB%%
</div>

<h3>Graph</h3>
<select id="graphselect">
</select>
<button id="displaygraph">Display Graph</button>

<div style="width: 99%;">
	<canvas id="maingraph"></canvas>
</div>
<script>
	var combiData = %%COMBIDATA%%;
	var graphes = %%GRAPHES%%;
	var loadUrl = "%%SERVERURL%%/load/graphs/";
	
	$.ajaxSetup({cache: true});
	graphes.forEach( (g) => {
		$("select#graphselect").append('<option value="'+g+'">'+g+'</option>');
	});
	var chart = null;

	$("button#displaygraph").click( () => {
		var url = loadUrl + $("select#graphselect").val()  + '.js';
		$.getScript( url, () => {
			if( typeof createGraph === "function" && combiData.length > 0 ){
				if(chart !== null){
					chart.destroy();
				}
				chart = createGraph(
					combiData,
					document.getElementById('maingraph').getContext('2d')
				);
			}
		});
	});
</script>