<div class="alert alert-info %%NOTEDISABLE%%" role="alert">
	%%NOTEMSG%%
</div>

<h3>Select data</h3>
	<form action="%%SERVERURL%%/?task=stats" method="post">
		<div class="form-group row">
			<label for="time" class="col-sm-2 col-form-label">Timespan</label>
			<div class="col-sm-10">
				<select name="time" id="time" class="custom-select">
					<option value="today" selected>Today</option>
					<option value="day">Day</option>
					<option value="week">Week</option>
					<option value="month">Month</option>
					<option value="range">Range</option>
					<option value="all">All</option>
				</select>
			</div>
		</div>
		<div id="rangeblock" class="disable">
			<div class="form-group row">
				<div class="col-sm-2">&nbsp;</div>
				<label for="rf" class="col-sm-2 col-form-label">from</label>
				<div class="col-sm-6">
					<input type="text" name="range-from" id="rf" placeholder="2020-03-04" pattern="\d{4}-\d{2}-\d{2}"  class="form-control">
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-light" id="fromDialog">&#x1F4C5;</button>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">&nbsp;</div>
				<label for="rf"class="col-sm-2 col-form-label">to</label>
				<div class="col-sm-6">
					<input type="text" name="range-to" id="rt" placeholder="2020-03-04" value="%%TODAY%%"  pattern="\d{4}-\d{2}-\d{2}"  class="form-control">
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-light" id="toDialog">&#x1F4C5;</button>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="cats" class="col-sm-2 col-form-label">Filter categories</label>
			<div class="col-sm-10">
				<input type="text" placeholder="Hobby,Home" name="cats" id="cats" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<label for="names" class="col-sm-2 col-form-label">Filter tasks</label>
			<div class="col-sm-10">
				<input type="text" placeholder="Coding,Gaming" name="names" id="names" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<label for="devices" class="col-sm-2 col-form-label">Filter Devices</label>
			<div class="col-sm-10">
				<select name="devices[]" id="devices" class="custom-select" size=4 multiple>
					<!--MULTIPLE-Devices-BEGIN-->
						<option value="%%VALUE%%" selected>%%NAME%%</option>
					<!--MULTIPLE-Devices-END-->
				</select>
			</div>
		</div>
		<div class="form-group row %%SHARESDIABLE%%">
			<label for="shares" class="col-sm-2 col-form-label">Include shares</label>
			<div class="col-sm-8">
				<select name="shares[]" id="shares" class="custom-select" size=4 multiple>
					<!--MULTIPLE-Shares-BEGIN-->
						<option value="%%VALUE%%">%%NAME%%</option>
					<!--MULTIPLE-Shares-END-->
				</select>
			</div>
			<div class="col-sm-2">
				<button type="button" id="deselectall" class="btn btn-light">Deselect</button>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">&nbsp;</div>
			<div class="col-sm-10">
				<input type="submit" value="Show" class="btn btn-secondary">
			</div>
		</div>
		<input type="hidden" name="plainlimit" id="plainlimit" value="%%DEFAULT_PLAIN_ELEMENTS%%">
	</form>
	<input type="hidden" id="datepickerFrom">
	<input type="hidden" id="datepickerTo">

<script>
	$("select[name=time]").change(() => {
		if($("select[name=time]").val() == "range" ){
			$("div#rangeblock").removeClass("disable");
		}
		else {
			$("div#rangeblock").addClass("disable");
		}
	});
	$("form").on("submit", () => {
		var values = {};
		$("input, select").each((k,v) => {
			values[$(v).attr("name")] = { 
				value : $(v).val(),
				tag : $(v).prop("tagName")
			};
		});
		localStorage.setItem( 'lastServerStats', JSON.stringify(values));
	});
	function dateDialog(element, destination){
		var pos = $(destination).offset();
		$( element ).datepicker(
			"dialog",
			$(destination).val(),
			function(v,o) {
				var m = o.selectedMonth+1;
				var d = o.selectedDay;
				$(destination).val(o.selectedYear +'-'+ (m <= 9 ? '0' : '') + m + '-' + (d <= 9 ? '0' : '') + d);
			},
			{
				dateFormat : "yy-mm-dd",
				firstDay: 1
			},
			[pos.left, pos.top]
		);
	}
	$("#fromDialog").click( (e) => {
		e.preventDefault();
		dateDialog("input#datepickerFrom",  "input[name=range-from]");
	});
	$("#toDialog").click( (e) => {
		e.preventDefault();
		dateDialog("input#datepickerTo",  "input[name=range-to]");
	});
	$( "input#names" ).autocomplete({
		source: "%%SERVERURL%%/ajax.php?type=task",
		minLength: 1,
		delay: 50
	});
	$( "input#cats" ).autocomplete({
		source: "%%SERVERURL%%/ajax.php?type=category",
		minLength: 1,
		delay: 50
	});
	$( "button#deselectall").click( () => {
		$("select#shares option").prop("selected", false);
	});
</script>

<h3>Tables</h3>
	<div class="alert alert-info %%DATADISABLE%%" role="alert">
		<h5 class="alert-heading">Client Command</h5>
		<p><code>%%CMD%%</code></p>
	</div>

</div> <!-- opened in main.html -->
	<div style="margin-bottom: 10px;">
		%%TABLEA%%
	</div>
	<div>
		%%TABLEB%%
	</div>
<div class="inner"><!-- reopen for main.html -->

<h3>Graph</h3>
	<div class="form-inline">
		<div class="input-group">
			<select id="graphselect" class="custom-select" name="graph">
			</select>
		</div> &nbsp;
		<button id="displaygraph" class="btn btn-secondary">Display Graph</button>
	</div>
	<div class="alert alert-danger %%LESSDATADISABLE%% m-2" role="alert">
		<p>The selected timespan contains a huge amount of data, some graphs may not display all data!</p>
		<button type="button" id="increaselimit" class="btn btn-warning">Increase the limit</button>
	</div>

</div> <!-- opened in main.html -->
	<div class="graphbox">
		<canvas id="maingraph"></canvas>
	</div>
	<div id="viewbox">
	</div>
<div class="inner"><!-- reopen for main.html -->

<div class="container mt-2 %%DATADISABLE%%">
	<div class="alert alert-secondary" role="alert">
		<h4 class="alert-heading">Calendar</h4>
		<p>One may download the current selection as calendar <code>*.ics</code> file or subscribe to it.</p>
		<p>
			<button type="button" id="copycallink" class="btn btn-light">Copy the link for a subscription</button></a>
			<a href="%%SERVERURL%%/api/ics.php?%%CALURL%%" target="_blank"><button type="button" class="btn btn-light">Download the file</button></a>	
		</p>
	</div>
</div>

<script>
	var combiData = %%COMBIDATA%%;
	var plainData = %%PLAINDATA%%;
	var singleDayData = %%SINGLEDAYDATA%%;
	var graphes = %%GRAPHES%%;
	var loadUrl = "%%SERVERURL%%/load/graphs/";
	
	$.ajaxSetup({cache: true});
	graphes.forEach( (g) => {
		$("select#graphselect").append('<option value="'+g+'">'+g+'</option>');
	});
	var chart = null;
	var removeView = null

	$("button#displaygraph").click( () => {
		var url = loadUrl + $("select#graphselect").val()  + '.js?%%VERSIONSEED%%';
		createGraph = null, displayView = null;
		$.getScript( url, () => {
			if( combiData.length > 0 || plainData.length > 0 || singleDayData !== false ) {
				if(chart !== null){
					chart.destroy();
					chart = null;
				}
				if( typeof removeView === "function" ){
					removeView()
					removeView = null;
				}
				
				// is a chart?
				if( typeof createGraph === "function" ){
					// show right element
					$("div.graphbox").css("display", "block");
					$("div#viewbox").css("display", "none");

					// text color according to theme
					Chart.defaults.global.defaultFontColor = getComputedStyle(document.documentElement).getPropertyValue('--main-text-color');
					
					chart = createGraph(
						combiData,
						plainData,
						singleDayData,
						document.getElementById('maingraph').getContext('2d')
					);

					// grid color according to theme 
					Object.keys(chart.scales).forEach(k => {
						chart.scales[k].options.gridLines.color = getComputedStyle(document.documentElement).getPropertyValue('--chart-grid-color');
					})
				}
				// is another type of view
				else if(typeof displayView === "function" ){
					// show right element
					$("div.graphbox").css("display", "none");
					$("div#viewbox").css("display", "block");

					removeView = displayView(
						combiData,
						plainData,
						singleDayData,
						$("div#viewbox")
					);
				}
			}
		});
	});

	if(localStorage.hasOwnProperty( 'lastServerStats' )){
		var values = JSON.parse( localStorage.getItem( 'lastServerStats' ) );
		$.each(values, (k,v) => {
			$(v.tag + '[name="'+ k +'"]').val(v.value);
		});
		$("select[name=time]").trigger('change');
	}

	if(!sessionStorage.hasOwnProperty( 'lastPlainDataLimit' )){
		sessionStorage.setItem('lastPlainDataLimit', "%%DEFAULT_PLAIN_ELEMENTS%%");
		$("input#plainlimit").val( "%%DEFAULT_PLAIN_ELEMENTS%%" );
	}
	$("button#increaselimit").click( () => {
		$("button#increaselimit").prop("disabled", true);
		sessionStorage.setItem('lastPlainDataLimit', parseInt(sessionStorage.getItem('lastPlainDataLimit')) * 2 )
		$("input#plainlimit").val( sessionStorage.getItem('lastPlainDataLimit') )
		$("form").submit()
	});

	clipboardButton("button#copycallink", "%%SERVERURL%%/api/ics.php?%%CALURL%%");
</script>