/* Colors */
:root {
	--main-text-color: black;
	--main-bg-color: white;
	--main-link-color: blue;
	--main-border-color: black;
	
	--chart-grid-color: #ddd;

	--body-bg: #777;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-text-color: #eee;
		--main-bg-color: #111;
		--main-link-color: lightblue;
		--main-border-color: #aaa;

		--chart-grid-color: #444;

		--body-bg: black;
	}

	input, select, textarea {
		background-color: var(--main-bg-color) !important;
		color: var(--main-text-color) !important;
	}
}

body{
	font-family:Ubuntu,sans-serif;
	font-size:100%;
	background-color: var(--body-bg);
}
h1{
	color: var(--main-text-color);
	border-bottom: 1px solid #5d7;
	text-align:center;
	font-type: bold;
}
h2{
	color:var(--main-text-color);
	border-bottom: 1px solid #5d7;
	text-align:left;
	font-type: bold;
}
h1,h2,h3,h4{
	margin-top: 20px;
}

div#main{
	border: 1px solid var(--main-border-color);
	margin:auto;
	min-width: 350px;
	max-width: 1600px;
	background-color: var(--main-bg-color);
	padding: 5px;
	border-radius: 4px;
	min-height: 300px;
}
div#logoutbox{
	float: right;
}
div.inner{
	min-width: 350px;
	max-width: 800px;
	width: 100%;
	margin:auto;
}
div#footer{
	color: white;
}
div#footer a, div#footer a:visited, div#footer a:hover {
	text-decoration: none;
	color: white;
}

.disable{
	display: none;
}
table.accounttable th {
	text-align: center;
}

table.statstable, div.graphbox {
	width: calc(100%-10px);
}

div.inline-popover{
	position: static;
}
div.inline-popover h3{
	margin-top: initial;
}
div.inline-popover .popover-body{
	text-align: right;
}