body{
	font-family:Ubuntu,sans-serif;
	font-size:100%;
	background-color:#777;
}
h1{
	color:black;
	border-bottom: 1px solid #5d7;
	text-align:center;
	font-type: bold;
}
h2{
	color:black;
	border-bottom: 1px solid #5d7;
	text-align:left;
	font-type: bold;
}
h1,h2,h3,h4{
	margin-top: 20px;
}

div#main{
	border: 1px solid black;
	margin:auto;
	min-width: 400px;
	max-width: 1600px;
	background-color: white;
	padding: 5px;
	border-radius: 4px;
	min-height: 300px;
}
div#footer{
	color: white;
}
div#footer a, div#footer a:visited, div#footer a:hover {
	text-decoration: none;
	color: white;
}

div.achtung {
	border: 2px solid red;
	padding: 5px;
	border-radius: 4px;
	background-color: orange;
	margin:auto;
	max-width: 500px;
}
div.note {
	border: 2px solid darkblue;
	padding: 5px;
	border-radius: 4px;
	background-color: lightblue;
	margin:auto;
	max-width: 500px;
}

.disable{
	display: none;
}

div#logoutbox{
	background: #ccc;
	border-radius: 5px;
	border: solid 1px black;
	padding: 5px;
	float: right;
}

table.accounttable, .form-group, .list-group{
	width: 100%;
	min-width: 395px;
	max-width: 800px;
}
table.accounttable, table.accounttable tr, table.accounttable td, table.accounttable th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
}
table.accounttable th {
	text-align: center;
}